
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create popup</h2>
<input type="button" onclick="ShowPopup()" value="Show Popup" />



<div id="divContaiPopup" class="table-responsive" style="display:none">
    <div>
        <table class="table table-striped table-hover3">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Image</td>
                <td>Unit</td>
                <td>Price</td>
            </tr>
            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>Name @i</td>
                    <td>Image</td>
                    <td>Unit</td>
                    <td>Price</td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    function ShowPopup()
    {
        $('#divContaiPopup').dialog({
            height: 400,
            width: 500,
            modal: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    alert('You selected OK!')
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>



