
@{
    ViewBag.Title = "PopupBoostrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/namshulSelfIssue.site.css" rel="stylesheet" />
<style>
        .glyphicon {
          position: relative;
          top: 1px;
          display: inline-block;
          font-style: normal;
          font-weight: normal;
          line-height: 1;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        .glyphicon-question-sign:before {
          content: "?";
        }
        .glyphicon-question-sign {
          color:white;
          background-color:#6FC600;
          border-radius:100%;
          font-weight:bold;
          padding-left:3px;
          padding-right:3px;
        }
        .glyphicon-question-sign:hover {
          background-color:#59B000;
        }
        .glyphicon-question-sign:visited {
          background-color:#6FC600;
        }
        .glyphicon-question-sign:active,.glyphicon-question-sign:link,.glyphicon-question-sign:visited {
          text-decoration:none;
          color:white;
        }
</style>
<h2>PopupBoostrap</h2>

<div class="form-group">
    <label class="col-sm-2 control-label">Ticket:</label>
    <div class="col-sm-10">
        @*<input id="form:txtTicket" type="text" name="form:txtTicket" />*@
        <a href="#" data-toggle="modal" data-target="#ticketModalTicket">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
        <a href="#" data-toggle="modal" class="question-sign" data-target="#ticketModalTicket">
        </a>
    </div>
</div>
<div>
    @{Html.RenderAction("PopupDesdePartial");}
</div>
<!--POPUP MODAL-->
<div class="modal fade" id="ticketModalTicket" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">BB8</h4>
            </div>
            <div class="modal-body">
                <img src="../Content/images/Capture.png" class="img-responsive" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

